.khan__book-pic{
  margin: 0 48px 0 0;
  padding: 0;
  width: 620px;
  height: 608px;
  background-image: url(../../../images/khan-book.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}